.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.input-group {
  margin-top: 1em;
  width: 100%;
}

.list-group {
  margin-top: 1em;
}

.fa-check {
  color: #fff;
}

.completed {
  color: rgb(13, 92, 26);
}

.item-completed {
  color: rgb(155, 148, 148);
  font-style: italic;
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.item-content {
  font-weight: 700;
  padding-left: 15px; 
}

.circle {
  border: 1px solid rgb(165, 161, 161);
  border-radius: 50%;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item:hover .hidden {
  display: block;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.content-box {
  width: -webkit-fill-available;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
